.App {
  width: 100vw;
  height: 100vh;
  background-color: #19222e;
}

body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  height: 100%;
  width: 16%;
  background-color: #10131a;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .row {
  width: 100%;
  height: 50px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: #d9b611;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: 800;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #293846;
}

.SidebarList .row #active {
  background-color: #d9b611;
}
.row #icon {
  flex: 20%;
  display: grid;
  place-items: center;
}

.row #title {
  padding-top: 3px;
  flex: 70%;
}

.Profili {
  position: relative;
  left: 27%;
  padding-top: 15px;
  padding-bottom: 15px;
}
